.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.configPartner {
margin:0px 10px 0px 10px;
border-bottom: 1px solid #aaa;
border-left: 1px solid #aaa;
}
.configPartner a.configtab {
font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 12px !important;
font-weight: bold;
line-height: 16px;
border-right: 1px solid #aaaaaa;
border-top: 1px solid #aaaaaa;
color: #aaaaaa;
display: inline;
float: left;
padding: 8px 20px !important;
position: relative;
width: auto !important;
}
.configPartner a.activ {
background: none repeat scroll 0 0 #d0d0d0;
color: #000000;
}
.configPartner a.configtab:hover {
text-decoration:none;
color:#af417e;
}
.configPartner.content {
margin:0px 10px 10px 10px;
border-bottom: 1px solid #aaa;
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
padding:10px;
}
.dataTableConfig.col-middle select {
width:100% !important;
}
.div_box {
border: 1px solid #aaa; 
padding:5px;
background:#f3f3f3;
margin-bottom:15px;
min-width: 850px;
max-width: 1000px;
}
.flt-l{
float:left;
}
.flt-r{
float:right;
}
.clear{
clear: both;
}
.pdg2{
padding:5px 2px;
}
.tableConfig{
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
width:100%;
padding:2px;
border-collapse: collapse;
margin-top: 5px;
}
.tableConfig td{
padding:8px; 
border-bottom: 1px solid #aaaaaa;
border-top: 1px solid #aaaaaa;
}
.tableConfig td.col-left{
font-size:12px;
font-weight:bold;
width:20%;
background-color:#F1F1F1;
}
.tableConfig td.col-middle{
background-color:#e8e8e8;
width:30%;
}
.tableConfig td.col-right{
width:50%;
empty-cells: show;
background-color:#F1F1F1;
}
.tableConfig td.col-single-right{
background-color:#e8e8e8;
width:80%;
}
.tableConfig td.mark{
background-color:#c8c8c8;
}
.valign_m td.col-left, .valign_m td.col-middle{
vertical-align: middle;
}
.mrg5{
margin:5px;
}
.tableBody{
width: 100%;
padding: 2px;
font-family: Verdana, Arial, sans-serif;
font-size:12px;
}
.tableBody td{
/*vertical-align: top;*/
}
.boxCenter{
vertical-align: top;
width: 100%;
border: 1px solid;
border-color: #cccccc;
background: #F7F7F7;
}
.tableCenter{
width: 100%;
padding: 2px;
border-collapse: collapse;
}
.tableCenter td{
padding: 3px;
}
.boxCenterLeft {
width: 75%;
vertical-align: top;
padding: 2px;
}
.boxCenterFull {
width: 100%;
vertical-align: top;
padding: 2px;
}
.boxRight{
width: 25%;
vertical-align: top;
padding: 2px 0;
}
.tableBoxCenter{
width: 100%;
padding: 2px;
margin-bottom: 3px;
}
.w100{
width: 100%;
}
.txta-l{
text-align: left!important;
}
.txta-r{
text-align: right;
}
.txta-c{
text-align: center;
}
.info_message {
font-family: Verdana, Arial, sans-serif;
border:solid #b2dba1 1px;
padding:10px;
font-size:12px !important;
line-height:18px;
background-color:#d4ebcb;
color:#3C763D;
}
.pageHeading { 
font-family: Verdana, Arial, sans-serif; 
font-size: 18px; 
color: #000000; 
font-weight: bold; 
}
.pageHeading .main {
font-weight: normal; 
}
.pageHeadingImage{
float:left;
width:60px;
margin:5px;
}
table.collapse{
border-collapse:collapse;
}
