@import "reset.css";

/* ==========  Typo  ========== */

h1, h2, h3, h4, h5, h6, ul.tabs li a, .leftNav ul li a, .stats ul li span, .userLink, .errorPage p, .ui-dialog .ui-dialog-title { font-family: 'Cuprum', sans-serif; font-weight: normal; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

blockquote { border : 1px solid #d5d5d5; width: 702px; margin-top: 40px; padding: 15px 10px; quotes: "\201C" "\201D"; background: #fafafa; text-align: center; font-style: italic; font-size: 12px; border-left: 4px solid #d5d5d5; }
blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after { content: close-quote; font-weight: bold; }

p { padding: 12px 0 0 0; }

/* ==========  Additional reset classes  ========== */

.nobg { background: none!important; }
.fix { clear: both; }

/* ==========  Buttons ========== */

input[type=submit], input[type=reset], input[type=button], button, .button { font-size: 10px; font-weight: bold; text-transform: uppercase; padding: 5px 14px 6px 14px; cursor: pointer; font-family: Arial, Helvetica, sans-serif; line-height: 12px; }
.blueBtn { border: 1px solid #3581c1; color: #fff; }
.blueBtn:hover { background-position: 0 -25px; }
.blueBtn:active { background-position: 0 -50px; }

.redBtn { border: 1px solid #9d342a; color: #fff; }
.redBtn:hover { background-position: 0 -25px; }
.redBtn:active { background-position: 0 -50px; }

/* ===== Top navigation ===== */

.selected { background: #212121; }

/* ===== Right side content ===== */

.widget { /*width: 342px;*/ /*width: 100%;*/ margin-top: 40px; border: 1px solid #d5d5d5; display: block; background: #fafafa; clear: both; border-top: none; }
.widget .loader { float: right; margin: 14px 12px 0 0; }

/* ===== Widgets ===== */

.widget { -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }
.content { font-size: 12px; color: #424242; font-family: Verdana, Arial, sans-serif; margin:0 auto; width: 726px; margin-bottom: 80px; }
.content .title_hb { background-color:#387CB0; width: 696px; }
.content .title_hb h5 {color: #fafafa; font-weight: normal; display: block; padding: 7px 15px; }

/* ===== Forms ===== */

.mainForm label { margin-right: 15px; display: block; float:left; padding: 4px 10px; }
.rowElem { clear: both; border-top: 1px solid #e7e7e7; padding: 10px 14px; position: relative; }
.rowElem:first-child { border-top: none; }

.formRight { float: right; width: 528px; margin: 12px 12px 12px 0px; }
.rowElem > label { padding: 15px 0; width: 130px; }

/* Inputs */ 

.mainForm input[type=text] { background: #fff; width: 100%; border: 1px solid #d5d5d5; padding: 5px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
.mainForm input[type=text]:hover { background: #fcfcfc; border: 1px solid #d1d1d1; }
.mainForm input[type=text]:focus { border: 1px solid #bbc1c9; background: #fff; }

/* ===== Wizard  ===== */

.swMain {  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
}
.swMain .stepContainer { display: block; position: relative; overflow: hidden; clear: both; }
.swMain .stepContainer div.wContent { display:block; margin: 0; text-align:left; overflow:visible; z-index:88; clear:both; width: 100%; }
.swMain .stepContainer div.wContent p { padding: 12px; }
.swMain div.actionBar { display: block; position: relative; clear: both; padding: 0; color: #5A5655; height: 41px; text-align:left; overflow:auto; z-index:88; left:0; background-color: #efefef; border-top: 1px solid #d5d5d5; }
.actionBar a.button { box-shadow: none; }
.swMain ul.anchor { position: relative; display: block; float: left; list-style: none; padding: 0px; clear: both; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; width: 724px; }
.swMain ul.anchor li { position: relative; display:block; margin: 0; padding: 0; border-left: 1px solid #d5d5d5; float: left; }
.swMain ul.anchor li:first-child { border-left: none; }
.swMain ul.anchor li a { display: block; position: relative; float: left; margin: 0; height: 38px; width: 180px; text-decoration: none; outline-style: none; z-index: 99; cursor: pointer; }
.swMain ul.anchor li a.wFirst { width: 211px; }
.swMain ul.anchor li a .stepDesc { position:relative; display:block; float:left; text-align: left; padding: 8px 12px 8px 35px; }
.swMain ul.anchor li a.selected { color: #3581c1; background: #fafafa; }
.swMain ul.anchor li a.done { position: relative; color: #aaaaaa; z-index: 99; background: #efefef; }
.swMain ul.anchor li a.done:hover { color:#5A5655; }
.swMain .buttonNext { display:block; float:right; margin: 8px 12px 0 12px; padding: 6px 12px; }
.swMain .buttonDisabled { color: #D5D5D5!important; cursor: text; background: #F1F1F1!important; /* margin-top: 8px!important; */ border: 1px solid #E1E1E1; }
.swMain .buttonPrevious { display:block; float:right; margin: 8px 0px 0 0px; padding: 6px 12px; }
.swMain .buttonFinish { display:block; float:right; margin: 8px 12px 0 0px; padding: 6px 12px; }

/* Form Styles */

.swMain .loader { position: relative; display: none; float: left; margin: 2px 0 0 2px; padding: 8px 10px 8px 40px; border: 1px solid #FFD700; color: #5A5655; z-index: 998; }
.bordLeft { border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; }
.bordRight { border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; }

.stepContainer { height:auto !important; }
#step-2 { height: auto !important; }
