@media (max-width: 767px) {
	#liveclock {
		text-align: center;
		font-size: 40px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#liveclock {
		text-align: center;
		font-size: 26px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#liveclock {
		text-align: center;
		font-size: 36px;
	}
}
@media (min-width: 1200px) {
	#liveclock {
		text-align: center;
		font-size: 44px;
	}
}