/* #### Admin Search Bar #### */
#topmenu_search {
	float:left;
	list-style-type:none;
	padding:0px;
	margin:0px;	
}

#topmenu_search li {
	float: left;
	margin: 3px 1px 0px 15px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fafafa;
	font-weight: bold;
}

#topmenu_search input {	
	border: 1px solid #860058;
}

.searchbar{
	overflow: hidden;
	width: 100%;
	height: 25px;
	background:  #b40076 url(../../images/searchbar_menu/asb_bg.gif) bottom;
}

