.powered {
	padding-right:10px;
	}	
#imedes {
	color:#ffffff;font-size:15px;
	}
.header {
	background-color: #375766;
	height:100px;
	background-image: url(images/header_bg.gif);
	}
.pageHeadingBill { 
	font-size: 18px; 
	color: #333333; 
	font-weight: bold; 
	letter-spacing: 1px;
	}
 .boxBillCenter {
 	background: #F7F7F7;
 	}	
.BillMainOuterTd {
	padding:10px;
	background-color:#FBFBFB;
	}	
.BillMainOuterDiv {
	background-color: #ebebe9;
        padding: 10px;
	}
.BillMainOuterDiv td {
	padding-bottom: 3px;
        padding-top: 8px;
	}
.BillHeadLines {
	background-color:#dadada;
	color:#333333;
	font-weight:bold;
	letter-spacing: 1px;
        padding:5px;
        font-size: 18px;
	}
.createCat {
	background-color: #FBFBFB;
	padding: 3px 5px 3px 5px;
	font-size:15px;
	color:#333333;
	}	
.BillOuterTable {
	background-color: #FBFBFB;
	color:#ffffff;
	padding-left:5px;
	padding-bottom:2px;
	}
.BillOuterTd {
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
	padding-top:2px;
	height:22px;
	}
.BillSavedProfiles {
	color:#333333;
	font-size:17px;
	white-space:nowrap;
	padding-top:3px;
        padding-left: 12px;
	letter-spacing: 1px;
	height:22px;
	}
#HideShowColumn {
	display:block;
	float:left;
	text-decoration:none;
	white-space:nowrap;
	}	
#SelectCat {
	display:block;
	float:left;
	text-decoration:none;
	white-space:nowrap;
	}
#btnDelProfile {
	display:block;
	float:left;
	margin-right:15px;
	padding-top:11px;
	}
.BilldataTableContent {
	font-size:15px;
	color: #333333;
	vertical-align: middle;
	}	
input.bill {
	padding:2px;
	font-size:15px;
	color:#333333;
	}
textarea.billarea {
	}
select#font {
	width:150px;
	border:1px solid #999999;
	font-size:15px;
	color:#333333;
	}
select#FontSize {
	border:1px solid #999999;
	font-size:15px;
	color:#333333;
	}			
#SelectColor {
	cursor:pointer;
	}					 		
.gallerycontainer{
	position: absolute;
	margin-top:-27px!important;
	margin-left:132px;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}
.gallerycontainerTop{
	position: absolute;
	margin-top:-21px!important;
	margin-left:170px;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}
.thumbnail img{
}
.thumbnail:hover{
	background-color: transparent;
}
.thumbnail:hover img{
	
}
.thumbnail span{ /*CSS for enlarged image*/
	position: absolute;
	padding: 5px;
	left: -1000px;
	border: 1px solid #666666;
	visibility: hidden;
	color: black;
	text-decoration: none;
	background-color:#EBEBE9;
}
.thumbnail span img{ /*CSS for enlarged image*/
	border: 0px;
	padding: 2px;
	border:1px solid #666666;
}
.thumbnail:hover span{ /*CSS for enlarged image*/
	visibility: visible;
	top: -250px;
	left: 50px; /*position where enlarged image should offset horizontally */
}
.OuterDiv {
	padding:4px;
	background-color:#EBEBE9;
	border:1px solid #666666;
	width:159px;
	text-align:center;
	}
.OuterDiv img {	
	border:1px solid #666666;
	}
.TopSchema {
	}
.TopSchema img {
}

.TopSchema div {
    padding-left: 10px;
    padding-top: 10px;
}